html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: url('./bg.png');
}

#startDownload {
  background-color: rgb(71, 167, 135);
  color: rgb(234, 232, 232);
  font-size: 20px;
  font-weight: 900;
  border: 0;
  padding: 10px;
}

#startDownload:disabled {
  background-color: rgb(39, 92, 74);
}

.download-progress-bar__container {
  margin: 20px 0;
  width: 400px;
  height: 40px;
  background-color: rgb(5, 4, 4);
  border-radius: 20px;
  box-shadow: 0 0 64px 64px rgba(255, 255, 255, 0.15);
}

.download-progress-bar__progress {
  background: linear-gradient(
    to right,
    rgba(51, 139, 147),
    rgb(182, 244, 146)
  );
  border-radius: 20px;
  color: rgb(237, 235, 235);
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 0;
  height: 100%;
}

.download-progress-bar__progress.error {
  background: red;
}
